@charset

a:hover {
  color: skyblue;
  list-style: none;
}

/**********headerstart**********/
header {
  color: white;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #dbebff;
  align-items: center;
  position: fixed;
}

.main-logo {
  text-shadow: #000 0 0 .2em;
  font-size: 32px;
  font-color: #ff1493;
  display: inline;
  margin-right: auto;
}

.menu {
  display: inline-block;
  text-align: right;
}

header li a {
  color: gray;
  text-decoration: none;
}
/**********headerend**********/

.news {

  color: brown;
}


/**********footerstart**********/
footer {
  margin: 30px 0px 0px;
  background-color: #dbebff;
  padding:5px 5px;
  font-size: 12px;
  color: darkgray;
}
/**********footerend**********/
