@charset 
.page-header { 
    background-color:#b0c4de;
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

.menu {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: gray;
}

.main-logo {
    font-size: 24px;
    font-color: #ff1493;
    margin-right: auto;
}
